html {
  overflow: unset !important;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.dialog-overlay {
  position: absolute;
  min-height: calc(100% + 64px);
  width: 100%;
  z-index: 999;
  top: -64px;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;

  .dialog-wrapper {
    padding: 20px;
    background-color: white;
    border-radius: 10px;
  }
}

.nuxt-link-exact-active {
  .nuxt-link-button {
    background-color: #9575cd;
    border-color: #9575cd;
    span {
      color: white;
    }
  }
}
